@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
.track_tbl td.track_dot {
    width: 51px;
    position: relative;
    padding: 0;
    text-align: center;
}
.track_tbl td.track_dot:after {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -5px;
    top: 9px;
    opacity: 0.5;
}
.track_tbl tr.active td.track_dot:after {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -5px;
    top: 9px;
    color: green;
}

.track_tbl tr.pre-active td.track_dot:after {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -5px;
    top: 9px;
    color: green;
}


.track_tbl tr.active td.track_status {
    font-weight: bold;
}

.track_tbl td.track_dot span.track_line {
    width: 3px;
    min-height: 50px;
    position: absolute;
    height: 101%;
}

minha-foto img{
    padding: 5px 0px 0px 0px;
}