<div class="p-4">
	<div ng-if="logomarca == 1">
		<minha-foto url="https://s2.drogaraia.com.br/skin/frontend/drogaraia/default/images/media/logo.png" alt="Farmacia Online 24 Horas | Droga Raia"></minha-foto>
	</div>
	<div ng-if="logomarca == 2">
		<minha-foto url="https://s2.drogasil.com.br/skin/frontend/drogasil/default/images/media/logo.png" alt="Farmacia online 24 horas Drogasil"></minha-foto>
	</div>
	<h3>Pedido Nº {{idPedido}}</h3>
	<div><p>Última atualização: {{date | date:'dd/MM/yyyy HH:mm'}}</p></div>
	<table class="table table-bordered track_tbl">
		<thead>
		    <tr>
		        <th></th>
		        <th>Status do Pedido</th>
		    </tr>
		</thead>
		<tbody ng-repeat="item in pedido">
            <tr class="active" ng-if="idStatus == item._id" >
                <td class="track_dot">
                    <span class="track_line"></span>
                </td>
                <td class="track_status">{{item.texto}}</td>
            </tr> 
            <tr ng-if="idStatus < item._id"">
                <td class="track_dot">
                    <span class="track_line"></span>
                </td>
                <td>{{item.texto}}</td>
            </tr>
            <tr class="pre-active" ng-if="idStatus > item._id">
                <td class="track_dot">
                    <span class="track_line"></span>
                </td>
                <td>{{item.texto}}</td>
            </tr> 
 		</tbody>			
	</table>
</div>
